body{
    background-color: white;
    margin: 0px;
}
a{
    text-decoration: none;
}
div.wrapper{
    width: 1200px;
    margin: 0px auto;
    height: 0px auto;
    background-color: lightgray;
}

/*헤더*/
header{
    height: 100px;
}

#logo{
    float: left;
    width: 200px;
    margin: 25px;
}
nav{
    float: right;
    width: 780px;
    margin: 35px;
}
ul.menu{
    list-style-type: none;
}
ul.menu li{
    float: left;
    width: 180px;
    height: 48px;
    background-color: gray;
}
ul.menu li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 48px;
}
ul.menu li a:hover{
    background-color: #3882c7;
}
/*메인*/
section.sect1{
   
    
    background-color: white;
    margin: 25px;
    padding: 10px;
}

img{
   float: left;
  margin: 30px;
}

/*하단*/
footer{
    height: 50px;
    text-align: center;
}
